
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class=" text-center mb-4 ">Edit article</h2>
    </div>
  </div>
<%= render "form", article: @article %>
</div>


<br>
