<div class="container image d-flex justify-content-center align-items-center vh-100">
  <div class="jumbotron text-center">
    <h1 class="display-4">Alpha Blog!</h1>
    <p class="lead">Welcome to Alpha Blog! This blog features a collection of articles and posts on various topics.</p>
    <hr class="my-4">
    <p>Our goal is to provide you with valuable content and insights that you can enjoy and learn from.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
