<% if notice.present? %>
  <div class="container">
    <div class="alert alert-success alert-dismissible fade show mt-3 mb-0" role="alert">
      <p class="text-success" style="margin-bottom: 0;"><%= notice %></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>


<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="jumbotron text-center">
    <h1 class="display-4">Recipe Management System!</h1>
    <p class="lead">Welcome to our Recipe Management System! This platform allows you to organize and manage your collection of recipes.</p>
    <hr class="my-4">
    <p>Our goal is to provide you with a convenient way to store, search, and share your favorite recipes.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

